body,
html {
    margin: 0;
    height: 100%;
}

.album-list,
.music-list {
    list-style: none;
    padding: 0;
    padding-bottom: 144px;
    li {
        margin-bottom: 1em;
        &.active {
            color: red;
        }
        img {
            vertical-align: middle;
        }
    }
}